* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1.4;
}

a {
    color: #333;
    text-decoration: none;
}

form {
    width: 90%;
    margin: 60px auto 40px auto;
    display: flex;
}

input[type="text"] {
    width: 80%;
    height: 55px;
    padding: 0 1em;
}

input[type="submit"] {
    width: 20%;
    border: none;
    background: black;
    color: white;
}

input:focus {
    outline: none;
}

#todolist {
    width: 80%;
    margin: 0 auto;
}

#todolist p {
    padding: 1.5em;
}

@media screen and (max-width: 500px) {
    input[type="text"] {
        width: 60%;
    }

    input[type="submit"] {
        width: 40%;
    }
}
